body {
  background-color: lightgrey;
  text-align: center;
}

p {
  font-family: helvetica;
  text-align: justify;
  margin: auto 470px;
  padding-top: 60px;
}

#homepage {
  margin-top: 50px;
  font-family: helvetica;

}
