.box1 {
    border: 1px dotted #FFF;
    height: 20px;
    width: 20px;
    float: left;
}

.pink1 {
    background-color: pink;
}

.turquoise1 {
    background-color: turquoise;
}

br {
    clear: both;
}

.box2 {
    border: 1px dotted #FFF;
    height: 20px;
    width: 20px;
    
}

.pink2 {
    background-color: pink;
}

.turquoise2 {
    background-color: turquoise;
}

br {
    clear: both;
}

.box3 {
    border: 1px dotted #FFF;
    height: 20px;
    width: 20px;
    float: left;
    
}

.pink3 {
    background-color: pink;
}

.turquoise3 {
    background-color: turquoise;
}

br {
    clear: both;
}

.box4 {
    border: 1px dotted #FFF;
    height: 20px;
    width: 20px;
    float: left;
    
}

.pink4 {
    background-color: pink;
}

.turquoise4 {
    background-color: turquoise;
}

br {
    clear: both;
}

.box5 {
    border: 1px dotted #FFF;
    height: 20px;
    width: 20px;
    float: left;
    
}

.pink5 {
    background-color: pink;
}

.turquoise5 {
    background-color: turquoise;
}

br {
    clear: both;
}


.box6 {
    border: 1px dotted #FFF;
    height: 20px;
    width: 20px;
    float: left;
    
}

.pink6 {
    background-color: pink;
}

.turquoise6 {
    background-color: turquoise;
}

br {
    clear: both;
}


.box7 {
    border: 1px dotted #FFF;
    height: 20px;
    width: 20px;
    float: left;
    
}

.pink7 {
    background-color: pink;
}

.turquoise7 {
    background-color: turquoise;
}

br {
    clear: both;
}


.box8 {
    border: 1px dotted #FFF;
    height: 20px;
    width: 20px;
    float: left;
    
}

.pink8 {
    background-color: pink;
}

.turquoise8 {
    background-color: turquoise;
}

br {
    clear: both;
}
        
                