body {
	background-color: pink;
    height: 2000px;
}

#circle1 {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	background-color: yellow;
	position: absolute;
	margin: auto;
	top: 300px;
	left:600px;
}

#circle2 {
	width: 180px;
	height: 180px;
	border-radius: 90px;
	background-color: white;
	position: absolute;
	margin: auto;
	top: 310px;
	left: 610px;
	transition: background-color 2s;
}

#heart {
    position: absolute;
    margin: auto;
    width: 100px;
    height: 90px;
    top: 365px;
    left: 650px;
}
#heart:before,
#heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: red;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
#heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}

#circle2:hover {
	background-color: lightblue;
}