body {
  background-color: rgb(105, 147, 139);
}

.pg {
  position: absolute;
  top: -40px;
  left: 10px;
}

.imgs {
  position: absolute;
  margin-left: 40px;
}


.h1 {
  position: absolute;
  top: 50px;
  left: -5px;
  transition: all .2s ease-in-out;
}
.h1:hover { transform: scale(1.4);
 }


.h2 {
  position: absolute;
  left: 730px;
  top: 40px;
  transition: all .2s ease-in-out;
}
.h2:hover { transform: scale(1.4);
 }

.h3 {
  position: absolute;
  top: 500px;
  left:790px;
  transition: all .2s ease-in-out;
}
.h3:hover { transform: scale(1.4);
 }

.h4 {
  position: absolute;
  top: 440px;
  left: 80px;
  transition: all .2s ease-in-out;
}
.h4:hover { transform: scale(1.4);
 }
.p4 {
  position: absolute;
  top: 750px;
  left: 610px;
  font-family: Helvetica;
  display: none;
}


.h5 {
  position: absolute;
  top: 190px;
  left: 380px;
  transition: all .2s ease-in-out;
}
.h5:hover { transform: scale(1.4);
 }

 .h6 {
   position: absolute;
   top:210px;
   left: 1030px;
   transition: all .2s ease-in-out;
 }
 .h6:hover { transform: scale(1.4);
  }


 .circlehong {
 	width: 30px;
 	height: 30px;
 	border: 3px solid #993300
;
 	-moz-border-radius: 50px;
 	-webkit-border-radius: 50px;
 	border-radius: 50px;
 }
 .circlehong:hover {
   background-color: #993300;

 }



 .circlehuang {
 	width: 30px;
 	height: 30px;
 	border: 3px solid #ffff99;
 	-moz-border-radius: 50px;
 	-webkit-border-radius: 50px;
 	border-radius: 50px;
  position: absolute;
  top: 55px;
 }
 .circlehuang:hover {
   background-color: #ffff99;

 }

 .circlelv {
 	width: 30px;
 	height: 30px;
 	border: 3px solid #00cc99;
 	-moz-border-radius: 50px;
 	-webkit-border-radius: 50px;
 	border-radius: 50px;
  position: absolute;
  top: 110px;
 }
 .circlelv:hover {
   background-color: #00cc99;

 }

 .circlebai {
 	width: 30px;
 	height: 30px;
 	border: 3px solid #0066cc;
 	-moz-border-radius: 50px;
 	-webkit-border-radius: 50px;
 	border-radius: 50px;
  position: absolute;
  top: 160px;
 }
 .circlebai:hover {
   background-color: #0066cc;

 }


  #circles {
  position:absolute;
  float:left;
  margin: auto;
  margin-right: 4px;
  top:35%;
 }
