body {
  background-color: rgb(100,106,88);
}

h1 {
  font-family: Helvetica;
  font-size: 36px;
  color: white;
}

.s3 {
  position: absolute;
  /* margin-top: 300px;
  margin-left: -120px; */
  top: 300px;
  left: 800px;
  transition: all .2s ease-in-out;
}
.s3:hover { transform: scale(1.6);
 }


.s2 {
  position: absolute;
  /* margin-left: -550px;
  margin-top: 580px; */
  top: 650px;
  left: 300px;
  transition: all .2s ease-in-out;
}
.s2:hover { transform: scale(1.4);
 }

.s1 {
  position: absolute;
  left:20px;

}
.s1{ transition: all .2s ease-in-out;
 }
.s1:hover { transform: scale(1.6);
 }


 .s4 {
   position: absolute;
   top: 1200px;
   left: 100px;
 }
 .s4 { transition: all .2s ease-in-out;
  }
 .s4:hover { transform: scale(1.4);
  }


 .s5 {
   position: absolute;
   top: 950px;
   left: 810px;
 }
 .s5{ transition: all .2s ease-in-out;
  }
 .s5:hover { transform: scale(1.5);
  }


 .s6 {
   position: absolute;
   top:1500px;
   left:700px;
 }
 .s6{ transition: all .2s ease-in-out;
  }
 .s6:hover { transform: scale(1.4);
  }


.s7 {
  position: absolute;
  top:1800px;
  left:200px;
}
.s7{ transition: all .2s ease-in-out;
 }
.s7:hover { transform: scale(1.6);
 }
