body {
	background-color: #a3c8c6;
	font-family: 'Courgette', cursive;
}

#header {
	color: yellow;
	background-color: pink;
	border: 7px dotted white;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
}

h1 {
	background-color: yellow;
	color: white;
	text-align: center;
}

p{
	line-height: 40px;
}

.welcome {
	font-weight: bold;
	color: white;
	font-size: 22;
}

.projects {
	font-size: 17;
	font-weight: bold;
	color: yellow;
}