body {
	background-color: white;
	font-family: Gill Sans;
}


h1 {
	background-color: yellow;
	color: white;
	text-align: center;
}

p{
	line-height: 40px;
	font-weight: bold;
	font-size: 16px;
	
}


.welcome {
	font-weight: bold;
	color: white;
	font-size: 22;
}

.projects {
	font-size: 24px;
	font-weight: bold;
	color: yellow;
}