body {
	background-color: #bce6f5;
	font-family: 'Courgette', cursive;
}

#header {
	color: yellow;
	background-color: pink;
	border: 3px dotted white;
}

h1 {
	border: 3px dotted white;
	background-color: yellow;
	color: pink;
}

p{
	line-height: 40px;
}

.welcome {
	font-weight: bold;
	color: white;
	font-size: 22;
}

.email {
	color: pink;
}

.phone-number {
	color: pink;
}

.projects {
	font-size: 17;
	font-weight: bold;
	color: yellow;
}