/* entire container, keeps perspective */
body {
  margin-left: 20%;
  margin-top: 10%;
  background-color: slategrey;
}

p {
  font-family: Baskerville;
  font-size: 1.5rem;
  color: white;
  width: 500px;
  position: absolute;
  left: 55%;
  top: 30%;
  line-height: 50px;
}

p:hover {
  color: gold;
  transition: 4s;
}
/* a:hover {
  color: gold;
  transition: 4s;
} */

a {
  color: white;
}

.music {
  position: absolute;
  bottom: 20%;
  right: 16%;

}

.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 320px;
	height: 480px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}
