body{
  background-color: antiquewhite;
  font-family: helvetica;
}

h1 {
  text-align: center;
  font-family: Didot;
}

p{
  text-align: center;
}

#prep {

  width: 150px;
  margin: 50px auto;
  background-color: 
}
