h1 {
  text-align: center;
  margin-top: 40px;
  font-family: Helvetica;
}

p {
  font-family: Helvetica;
}

.container {
  margin: 40px 0;
  padding: 80px;
}

.container .col-left {
  float: left;
  width: 35%;
}

.container .col-right {
  float: right;
  width: 35%;
}


.first {
  float: left;
  display: inline-block;
  position: absolute;
  top: 110%;
  left: 10%;
}

.second {
  float: right;
  display: inline-block;
  top: 800px;
}


@media screen and (min-width: 480px) and (max-width: 1024px){

    .container .col-left {
        float: none;
        width: 100%;
    }

    .container .col-right {
        float: none;
        width: 100%;
    }

    .first {
      position: relative;
      float: none;
      top: 150%;
    }


    .second {
      float: none;
      position: relative;
    }
}

@media screen and (min-width: 1400px) {
  
}
