
.box {
	width: 1000px;
	margin: 100px auto;
}

@-webkit-keyframes rotation{
from {-webkit-transform: rotate(0deg);}
to {-webkit-transform: rotate(360deg);}
}

.box1 {
	width: 328px;
	height: 263px;
	margin: 150px auto 50px;
	-webkit-transform: rotate(360deg);
	animation: rotation 10s linear infinite;
	-moz-animation: rotation 10s linear infinite;
	-webkit-animation: rotation 10s linear infinite;
	-o-animation: rotation 10s linear infinite;
}
.box1 div{
	display:none;
}

.food {
	width: 130px;
	height: 131px;
	margin-left: 100px;
	position:absolute;
	top:50px;
}
.cake1{
	left:0;
}
.cake2{
	left:150px;
}
.cake3{
	left:300px;
}
.cake4{
	left:450px;
}
.cake5{
	left:600px;
}
.cake6{
	left:750px;
}
.box2 {
	clear: both;
	position:relative
}

.box2 img{
	width:120px;
}